.header{
	background: linear-gradient(#cc9966,#4d3319);
}

.header ul{	
 width: 70%;
 position: relative;
 margin: 0px 0px;
 padding: 20px 0px;
 font-size: 1vw;
 z-index: 4;
 float: left;
}

.header ul li{
	list-style-type: none;
	display: inline-block;
	width: 14%;
	margin-right: 0px;
	float: right;
	overflow: hidden;
	padding: 20px 0px;
	text-align: center;
}

.header ul li a{
	width: 100%;
	text-decoration: none;
	color: white;
}
.header li:hover{
	background-color: black;
	color: white;
}

.menu div{
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 5px 0px;
}

.header .menu{
	display: none;
	float: right;
	z-index: 8;
	right: 0px;
}

.header .close {
	display: none;
	color: black;
	font-size: 4vw;
}

.logo{
	z-index: 2;
}

.footer{
	width: 100%;
	background-color: black;
	margin-top: 20px;
}

.elements{
	width: 80%;
    margin: auto;
    color: white;
    position: relative;	
}

.element{
	width: 25%;
	display: inline-block;
}

.element li{
	list-style-type: none;
}

.element li a{
	text-decoration: none;
	color: white;
}

.icons{
	width: 10%;
	position: absolute;
	bottom: 0;
	right: 0px;
	color: white;
}

.icons i{
	margin: 0px 5px;
}

@media screen and (max-width: 1200px) {

.header .menu{
	display: block;
	float: right;
}	
.header ul li{
		width: 100%;
		display: none;
		position: relative;
		z-index: 4;
	}
	
.header ul{
	    position: relative;
		z-index: 2;
	    font-size: 4vw;	
	}
	
.logo{
		position: relative;
		z-index: 2;
	}
	
	.elements{
		width: 100%;
	}
	
	.element{
		width: 100%;
		display: block; 
		overflow: hidden;
	}
	
	.element ul li a{
		width: 100%;
		display: block; 
		overflow: hidden;
	}
	
	.icons{
		width: 50%;
		margin: auto;
	}	
	
}